.InputfieldFile .rr-wrap {
  background: #fff;
  border: 1px solid #d9e1ea;
  border-top: none;
  padding: 9px 16px; }
.InputfieldFile .rr-show {
  cursor: pointer;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #999999; }
.InputfieldFile .rr-container {
  display: none; }
.InputfieldFile .rr-input {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 9px; }
  .InputfieldFile .rr-input label {
    padding-bottom: 4px;
    font-size: 0.85em;
    display: block; }
  .InputfieldFile .rr-input input[type='text'], .InputfieldFile .rr-input select {
    height: 28px !important;
    line-height: 28px !important;
    border-radius: 0; }
  .InputfieldFile .rr-input input[type='text'] {
    width: 300px !important; }
  .InputfieldFile .rr-input.rr-rename {
    padding-right: 20px; }
.InputfieldFile .InputfieldFileData[style*="display: none"] + .rr-wrap, .InputfieldFile .InputfieldFileData[style*="display:none"] + .rr-wrap {
  display: none; }
